:host {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  letter-spacing: 1.2px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.count {
  margin: 1rem;
  font-size: 2rem;
}

.counter-actions {
  display: flex;
  flex-direction: column;

  button {
    border-radius: 2px;
    font-size: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    letter-spacing: 1.2px;
    color: #ffffff;
    background-color: #BA2DD2;
    border: 0;
  }
}